entrega/1. representacion de la informacion/coordenada.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="coordenada">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:float" name="latitud"/>
        <xs:element type="xs:float" name="longitud"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>