entrega/1. representacion de la informacion/establecimiento.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="establecimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nombre"/>
        <xs:element type="xs:string" name="rut"/>
        <xs:element type="xs:string" name="ubicacion"/>
        <xs:element type="xs:string" name="telefono"/>
        <xs:element type="xs:string" name="horario"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>