entrega/1. representacion de la informacion/producto.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="codigo"/>
        <xs:element type="xs:string" name="nombre"/>
        <xs:element type="xs:int" name="precio"/>
        <xs:element type="xs:string" name="descripcion"/>
        <xs:element type="xs:string" name="marca"/>
        <xs:element type="xs:string" name="modelo"/>
        <xs:element type="xs:string" name="origen"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>