entrega/parte 1/inventario.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="inventario">
		<xsd:annotation>
			<xsd:documentation>Elemento Inventario</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="establecimiento"/>
				<xsd:element ref="listaProductos" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
  	<xsd:element name="establecimiento">
		<xsd:annotation>
			<xsd:documentation>Elemento Establecimiento Simple</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>Definición para establecimiento</xsd:documentation>
			</xsd:annotation>
			<xsd:attribute name="idEstablecimiento" type="xsd:integer" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
  	<xsd:element name="listaProductos">
		<xsd:annotation>
			<xsd:documentation>Elemento para el listado de productos</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>Definición para la lista de productos</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element ref="producto" minOccurs="1" maxOccurs="1024"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
  	<xsd:element name="producto">
		<xsd:annotation>
			<xsd:documentation>Elemento Producto Simple</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>Definición para producto</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element type="xsd:int" name="cantidad"/>
				<xsd:element type="xsd:int" name="precio"/>
				<xsd:element type="monedaValores" name="moneda"/>
				<xsd:element type="estadoValores" name="estado"/>
				<xsd:element type="xsd:date" name="fechaIngreso"/>
				<xsd:element type="xsd:date" name="fechaActualizacion"/>
			</xsd:sequence>
			<xsd:attribute name="idProducto" type="xsd:integer" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:simpleType name="monedaValores">
		<xsd:annotation>
			<xsd:documentation>Definición de los valores permitidos para moneda</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="USD"/>
			<xsd:enumeration value="CLP"/>
			<xsd:enumeration value="EURO"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="estadoValores">
		<xsd:annotation>
			<xsd:documentation>Definición de los valores permitidos para estado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INGRESADO"/>
			<xsd:enumeration value="PENDIENTE"/>
			<xsd:enumeration value="RESERVADO"/>
			<xsd:enumeration value="DISPONIBLE"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>